doctype html
html
    include ../header
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(type='text/javascript').
        $(document).ready(function(){
            var simplemde = new SimpleMDE({
                element: document.getElementById("markdown"),
                spellChecker : false,
                showIcons: ["code", "table"],
                renderingConfig: {
                    codeSyntaxHighlighting: true,
                },
            });
        })

    body
        form(action="/admin/post/create",method="post")
            textarea(id="markdown",name="content")
            input(type="submit")