head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content="IE=edge")
        title= pageInfo.title
        link(rel='stylesheet', href='bootstrap.css')
        link(rel='stylesheet', href='bootstrap.min.css')
        link(href='blog.css', rel='stylesheet')
        script(async,defer,src="jquery.min.js")
        script(async,defer,src="bootstrap.min.js")